.consulta-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 25px;
  display: flex;
  flex-direction: column;
  border-left: 5px solid transparent;
  transition: transform 0.2s ease-in-out;
}

.consulta-card:hover {
  transform: translateY(-5px);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.card-header h1 {
  margin: 0;
  font-size: 40px;
  color: #333;
}

.status-badge {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
  text-transform: capitalize;
  color: white;
}

.status-badge.status-realizado {
  color: #027a48;
  background-color: #ecfdf3;
}

.status-badge.status-agendado {
  color: #175cd3;
  background-color: #eff8ff;
}

.status-badge.status-cancelado {
  color: #b42318;
  background-color: #fef3f2;
}

.card-details {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 15px;
}
.card-details div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-details p {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #555;
  margin-bottom: 8px;
}

.card-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  fill: #888; 
}

.card-observations {
  background: linear-gradient(90deg, #0ea5e9 0%, #059669 100%);
  width: fit-content;
  max-width: 100%;
  border: 1px solid #cfe2ff;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 15px;
  color: #ffffff;
  margin-top: 15px;
}

.card-observations span {
  font-weight: bold;
  margin-right: 5px;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
